body {
    font-family: 'Verdana', sans-serif;
    margin: 50px 25px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    background: #daeef3;
    padding: 20px 30px;
}

header h1 {
    color: #169bbd;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #f1fbfe;
}
button,
optgroup,
select {
	color: inherit;
	font: inherit;
	margin: 0;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 8px 12px;
	font-size: 15px;
	line-height: 1.4;
	border-radius: 0.5em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
	color: #333333;
	text-decoration: none;
}

.btn:active,
.btn.active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	cursor: not-allowed;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
	pointer-events: none;
}

.btn-default {
	color: #333333;
	background-color: #e7e7e7;
	border-color: #cccccc;
}

.btn-default:focus,
.btn-default.focus {
	color: #333333;
	background-color: #cecece;
	border-color: #8c8c8c;
}

.btn-default:hover {
	color: #333333;
	background-color: #cecece;
	border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
	color: #333333;
	background-color: #cecece;
	border-color: #adadad;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
	color: #333333;
	background-color: #bcbcbc;
	border-color: #8c8c8c;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
	background-image: none;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
	background-color: #e7e7e7;
	border-color: #cccccc;
}

.btn-default .badge {
	color: #e7e7e7;
	background-color: #333333;
}

.btn-primary {
	color: #ffffff;
	background-color: #7b51a2;
	border-color: #0079a1;
}

.btn-primary:focus,
.btn-primary.focus {
	color: #ffffff;
	background-color: #6d4492;
	border-color: #001921;
}

.btn-primary:hover {
	color: #ffffff;
	background-color: #6d4492;
	border-color: #004b63;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #6d4492;
	border-color: #004b63;
}
.btn-block {
	display: block;
	width: 100%;
}

.btn-block+.btn-block {
	margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
	width: 100%;
}

.note-editor.note-frame .note-editing-area .note-editable { color: #000001; }